@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<body class="card" style=" width: 900px; height : 800px">

    @foreach (var item in ViewBag.textoinicial)
    {
      <p>@item.CARTEXTO</p>
      <p>@item.CAPID</p>
    }
    


</body>
