@{
    ViewData["Title"] = "Home Page";
}

<body class="Inicio">

    <img src="~/css/Vidas Secas capa.jpg" style=" width: 190px; height : 300px" />
    <p><a href="@Url.Action("Capum", "VidasSecas")">Clique aqui para ler o livro</a>.</p>

</body>
